<button class='number-btn' id='zero' ng-disabled="rltCtrl.amountBet === 0 || rltCtrl.playerBalance < rltCtrl.amountBet" ng-click='rltCtrl.numberBet(0)'>0</button>
<br>
<br>
<% for (i = 3; i < 37; i += 3) { %>
  <button class='number-btn' id='<%= i %>' ng-disabled="rltCtrl.amountBet === 0 || rltCtrl.playerBalance < rltCtrl.amountBet" ng-click='rltCtrl.numberBet(<%= i %>)'><%= i %></button>
<% } %>
<button class='column-btn' ng-disabled="rltCtrl.amountBet === 0 || rltCtrl.playerBalance < rltCtrl.amountBet" ng-click='rltCtrl.columnBet("Column 3")'>2 to 1</button>
<br>
<br>
<% for (i = 2; i < 37; i += 3) { %>
  <button class='number-btn' id='<%= i %>' ng-disabled="rltCtrl.amountBet === 0 || rltCtrl.playerBalance < rltCtrl.amountBet" ng-click='rltCtrl.numberBet(<%= i %>)'><%= i %></button>
<% } %>
<button class='column-btn' ng-disabled="rltCtrl.amountBet === 0 || rltCtrl.playerBalance < rltCtrl.amountBet" ng-click='rltCtrl.columnBet("Column 2")'>2 to 1</button>
<br>
<br>
<% for (i = 1; i < 37; i += 3) { %>
  <button class='number-btn' id='<%= i %>' ng-disabled="rltCtrl.amountBet === 0 || rltCtrl.playerBalance < rltCtrl.amountBet" ng-click='rltCtrl.numberBet(<%= i %>)'><%= i %></button>
<% } %>
<button class='column-btn' ng-disabled="rltCtrl.amountBet === 0 || rltCtrl.playerBalance < rltCtrl.amountBet" ng-click='rltCtrl.columnBet("Column 1")'>2 to 1</button>
